# Images
JENKINS_CONTROLLER_BUILD_IMAGE=jenkins/jenkins:2.555.2-lts-jdk21
JENKINS_CONTROLLER_IMAGE=jenkins-compose/controller:2.555.2-lts-jdk21
JENKINS_AGENT_BUILD_IMAGE=jenkins/inbound-agent:3355.v388858a_47b_33-21-jdk21
JENKINS_AGENT_IMAGE=jenkins-compose/agent:3355.v388858a_47b_33-21-jdk21-docker29.5.2
DOCKER_DIND_IMAGE=docker:29.5.2-dind
DOCKER_CLI_IMAGE=docker:29.5.2-cli

# Jenkins update center mirror
JENKINS_UC=https://mirrors.huaweicloud.com/jenkins/update-center.json
JENKINS_PLUGIN_INFO=https://mirrors.huaweicloud.com/jenkins/update-center.json
JENKINS_UC_DOWNLOAD=https://mirrors.huaweicloud.com/jenkins
JENKINS_UC_DOWNLOAD_URL=https://mirrors.huaweicloud.com/jenkins/plugins
JENKINS_UC_EXPERIMENTAL=https://mirrors.huaweicloud.com/jenkins/experimental/update-center.json
JENKINS_INCREMENTALS_REPO_MIRROR=https://repo.jenkins-ci.org/incrementals

# Access
JENKINS_HTTP_PORT=8080
JENKINS_AGENT_PORT=50000
JENKINS_URL=http://localhost:8080/
JENKINS_INTERNAL_URL=http://jenkins:8080/

# Jenkins runtime
JENKINS_OPTS=
JENKINS_JAVA_OPTS_EXTRA=

# Admin user
JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_NAME="Jenkins Admin"
JENKINS_ADMIN_EMAIL=admin@example.invalid
JENKINS_ADMIN_PASSWORD=change-me-now

# Controller
JENKINS_CONTROLLER_EXECUTORS=0
JENKINS_SYSTEM_MESSAGE="Managed by Configuration as Code in Docker Compose."

# Agent
JENKINS_AGENT_NAME=docker-agent-1
JENKINS_AGENT_DESCRIPTION="Compose-managed Docker build agent"
JENKINS_AGENT_LABELS="docker linux"
JENKINS_AGENT_EXECUTORS=1
JENKINS_AGENT_MODE=EXCLUSIVE
JENKINS_AGENT_WORKDIR=/home/jenkins/agent
JENKINS_AGENT_INTERNAL_DIR=remoting
